body {
    margin: 0;
    padding-top: 55px;
    overflow-y: scroll;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, "Microsoft YaHei", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scrollbar-width: none;
    color: var(--semi-color-text-0) !important;
    background-color: var( --semi-color-bg-0) !important;
    height: 100%;
}

#root {
    height: 100%;
}

.semi-layout {
    height: 100%;
}

.tableShow {
    display: revert;
}

.tableHiddle {
    display: none !important;
}

body::-webkit-scrollbar {
    display: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.semi-navigation-vertical {
    /*display: flex;*/
    /*flex-direction: column;*/
}

.semi-navigation-item {
    margin-bottom: 0;
}

.semi-navigation-vertical {
    /*flex: 0 0 auto;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*width: 100%;*/
    height: 100%;
    overflow: hidden;
}

.main-content {
    padding: 4px;
    height: 100%;
}

.small-icon .icon {
    font-size: 1em !important;
}

.custom-footer {
    font-size: 1.1em;
}

@media only screen and (max-width: 600px) {
    .hide-on-mobile {
        display: none !important;
    }
}
